

    body.inicio { 
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* ocupa toda la pantalla */
      background-color: #d0dce8;
      font-family: Arial, sans-serif;
    }

    .login-box {
      background-color: white;
      padding: 20px 30px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      width: 300px; /* ancho compacto */
      text-align: center;
    }

    .login-box h2 {
      margin-bottom: 20px;
    }

    .login-box input {
      margin-bottom: 15px;
    }

    .btn-login {
      width: 100%;
    }
